.slider {
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  animation: scroll 30s linear infinite;
  width: calc(200px * 14); /* Dobro do número de logos vezes a largura */
}

.slide {
  width: 200px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s ease;
}

.slide:hover img {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 7)); /* Metade do total, para o loop */
  }
}
